{
  "transform": {
    ".ts": "<rootDir>/node_modules/ts-jest/preprocessor.js"
  },
  "testRegex": "(/__tests__/.*|/project/.*\\.(test|spec))\\.ts$",
  "collectCoverageFrom": [
    "project/**/*.ts",
    "!project/**/*.module.ts"
  ],
  "setupFiles": [
    "<rootDir>/submodules/NG2Components/src/polyfills.ts",
    "<rootDir>/submodules/NG2Components/src/jest.polyfills.ts"
  ],
  "moduleNameMapper": {
    "project/(.*)": "<rootDir>/project/$1",
    "src/(.*)": "<rootDir>/submodules/NG2Components/src/$1",
    "^.+\\.(css|scss)$": "<rootDir>/submodules/NG2Components/config/CSSStub.js",
    "^@angular-redux\/store$": "<rootDir>/submodules/NG2Components/config/store.ts"
  },
  "moduleFileExtensions": [
    "ts",
    "tsx",
    "js",
    "json"
  ]
}